[paths]
train = null
dev = null
vectors = "../vectors/large"
init_tok2vec = null
source_path = null

[system]
gpu_allocator = "pytorch"
seed = 0

[nlp]
lang = "grc"
pipeline = ["transformer","morphologizer","tagger","parser","senter","lemmatizer","attribute_ruler","spancat"]
batch_size = 128
disabled = []
before_creation = null
after_creation = null
after_pipeline_creation = null
tokenizer = {"@tokenizers":"spacy.Tokenizer.v1"}

[components]

[components.spancat]
factory = "spancat"
max_positive = null
scorer = {"@scorers":"spacy.spancat_scorer.v1"}
spans_key = "sc"
threshold = 0.4680466307

[components.spancat.model]
@architectures = "spacy.SpanCategorizer.v1"

[components.spancat.model.reducer]
@layers = "spacy.mean_max_reducer.v1"
hidden_size = 256

[components.spancat.model.scorer]
@layers = "spacy.LinearLogistic.v1"
nO = null
nI = null

[components.spancat.model.tok2vec]
@architectures = "spacy-transformers.TransformerListener.v1"
grad_factor = 1.0
pooling = {"@layers":"reduce_mean.v1"}
upstream = "*"

[components.spancat.suggester]
@misc = "spacy.ngram_range_suggester.v1"
min_size = 1
max_size = 3

[components.attribute_ruler]
source = ${paths.source_path}

[components.morphologizer]
source = ${paths.source_path}

[components.parser]
source = ${paths.source_path}

[components.tagger]
source = ${paths.source_path}

[components.lemmatizer]
source = ${paths.source_path}

[components.senter]
source = ${paths.source_path}

[components.transformer]
source = ${paths.source_path}

[corpora]

[corpora.dev]
@readers = "spacy.Corpus.v1"
path = ${paths.dev}
max_length = 0
gold_preproc = false
limit = 0
augmenter = null

[corpora.train]
@readers = "spacy.Corpus.v1"
path = ${paths.train}
max_length = 0
gold_preproc = false
limit = 0
augmenter = null

[training]
accumulate_gradient = 3
dev_corpus = "corpora.dev"
train_corpus = "corpora.train"
seed = ${system.seed}
gpu_allocator = ${system.gpu_allocator}
dropout = 0.2922961772
patience = 5000
max_epochs = 0
max_steps = 0
eval_frequency = 500
frozen_components = ["transformer","morphologizer","tagger","parser","senter","lemmatizer","attribute_ruler"]
annotating_components = ["transformer"]
before_to_disk = null
before_update = null

[training.batcher]
@batchers = "spacy.batch_by_padded.v1"
discard_oversize = true
size = 702
buffer = 256
get_length = null

[training.logger]
#@loggers = "spacy.WandbLogger.v3"
@loggers = "spacy.ConsoleLogger.v3"
progress_bar = "train"
console_output = true
#project_name = "Category Types (Greek NER)"
#remove_config_values = ["paths.train","paths.dev","corpora.train.path","corpora.dev.path"]
#log_dataset_dir = null
#model_log_interval = 500
#entity = null
#run_name = null

[training.optimizer]
learn_rate = 0.0037829722
@optimizers = "Adam.v1"
beta1 = 0.9
beta2 = 0.999
L2_is_weight_decay = true
L2 = 0.01
grad_clip = 1.0
use_averages = true
eps = 0.00000001

[training.score_weights]
spans_sc_f = 0.17
spans_sc_p = 0.17
spans_sc_r = 0.66

[pretraining]

[initialize]
vectors = ${paths.vectors}
init_tok2vec = ${paths.init_tok2vec}
vocab_data = null
lookups = null
before_init = null
after_init = null

[initialize.components]

[initialize.components.parser]

[initialize.components.parser.labels]
@readers = "spacy.read_labels.v1"
path = "../data/labels/parser.json"
require = false

[initialize.components.tagger]

[initialize.components.tagger.labels]
@readers = "spacy.read_labels.v1"
path = "../data/labels/tagger.json"
require = false

[initialize.components.attribute_ruler]

[initialize.components.attribute_ruler.patterns]
@readers = "srsly.read_json.v1"
path = "../data/augments/attribute_ruler_patterns.json"

[initialize.tokenizer]